doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description" content="NodeJS Boilerplate Project")
        title= pageTitle
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        h1 Welcome to NodeJS Boilerplate Project

